<!-- FROM -->
<div class="card container mt-3 bg-light">
  <div class="card-body">
    <h1 class="card-title fs-2 mb-3">Team generator</h1>

    <div class="card mb-3" *ngIf="members.length">
      <ul class="list-group list-group-flush bg-success-subtle">
        <li class="list-group-item" *ngFor="let member of members">
          {{ member }}
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <p *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </p>
      <div class="form-group">
        <input
          #addMemberInput
          type="text"
          class="form-control"
          placeholder="Name"
          (input)="onInput(addMemberInput.value)"
          [value]="newMemberName"
        />
      </div>
      <button class="btn btn-primary mt-2" (click)="addMember()">Add</button>
    </div>
    <div>
      <input
        type="number"
        class="form-control"
        placeholder="# of teams"
        #numberOfTeams
        (input)="onNumberOfTeamsInput(numberOfTeams.value)"
        [value]="numberOfTeams"
      />
      <button class="btn btn-primary mt-2" (click)="generateTeams()">
        Generate teams
      </button>
    </div>
  </div>
</div>

<!-- TEAMS  -->
<app-teams-list *ngIf="teams.length" [teams]="teams"></app-teams-list>
